.balance-container,.amount-container{
    width: 100%;
    height: 400px;
    background-color: deeppink;
    color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 4px solid blue;
    border-radius: 20px;
}

.amount-container{
    height: 200px;
    background-color: blueviolet;
}

.tittle{
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
    background-color: chocolate;
}

.deposite-balance,.withdraw-balance,.total-balance,.deposite-amount,.withdraw-amount{
    width: 400px;
    height: 200px;
    background-color: rgb(168, 18, 168);
    text-align: center;
    color: white;
    border: 1px solid orange;
    border-radius: 20px;
    font-size: 20px;
}

.withdraw-amount{
    height: 150px;
    background-color: indianred;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

input{
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

button{
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bolder;
    background-color: darkblue;
    border: none;
    color: yellow;
    border-radius: 5px;

}

button:hover{
    background-color: rgb(7, 114, 64);
    color: bisque;
    transform: scale(1.05);
   
}

.deposite-amount{
    height: 150px;
    background-color: coral;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}



p{
    font-size: 40px;
    font-weight: bolder;
    margin-top: -20px;
}



.withdraw-balance{
    background-color: rgb(180, 19, 19);

}

.total-balance{
    background-color: rgb(8, 8, 138);
}

/* responsive style started here */

@media screen and (max-width: 576px) {
    .amount-container, .balance-container{
        flex-direction: column;
        gap: 10px;
       height: auto;
       padding: 20px 0;


    }

    .amount-container{
        margin-top: 10px;
    }
    .tittle{
        font-size: 30px;
    }

    .deposite-balance,.withdraw-balance,.total-balance,.deposite-amount,.withdraw-amount{
        width: 300px;
        font-size: 15px;
        /* align-items: center; */
    }

    input{
       
        font-size: 12px;
    }

    button{
        padding: 5px 10px;
    }
}

@media screen and (min-width:576) and (max-width: 762px) {
    .amount-container, .balance-container{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px 0;
    }
@media screen and (min-width:762) and (max-width: 1080px) {
    .amount-container, .balance-container{
        flex-direction: column;
        gap: 10px;
        height: auto;
        padding: 20px 0;
    }
    
}

}